<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autipro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_splash_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_splash_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NotificationActivity"></activity>
        <activity android:name=".DataActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".LineChartActivity"/>
        <service android:name=".video.push.SinchService"/>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".video.push.CallScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".video.push.IncomingCallScreenActivity" android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".video.push.PlaceCallActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>